@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v18-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/rubik-v18-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v18-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/rubik-v18-latin_cyrillic-500.woff') format('woff');
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #ededed9e;
    height: 100%;
    line-height: 1.5;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.page {
    font-family: 'Rubik', sans-serif;
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    min-height: 100vh;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: #F73A4C;
    overflow: hidden;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    float: left;
}

.header-wrapper a {
    float: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.list-item {
    padding: 14px 14px;
    transition: all .1s;
}

.header-list a:hover {
    background-color: white;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Dropdown button */
.dropdown .drop-button {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    background-color: inherit;
    margin: 0;
    width: 100%;
    height: 100%;
}


.dropdown:hover .drop-button {
    background-color: white;
    color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 14px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {

    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* MOVIES */
.films-navigation {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.search-result {
    font-size: 32px;
    font-weight: 400;
    padding: 16px 24px 0 0;
}

.films-navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.films-navigation .rating-button {
    background-color: #F73A4C;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
}

.films-navigation .rating-button:hover {
    background-color: #fc4a5b;
}

.film-types-radios {
    display: flex;
    justify-content: space-between;
}

.film-types-radio {
    margin-left: 15px;
}

.categories-navigation {
    display: flex;
    flex-wrap: wrap;
}

.films-navigation .search {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid black;
    padding: 14px 24px 1px 0;
}

.categories-navigation a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 24px;
    padding: 14px 24px 5px 24px;
    border-bottom: 1px solid #747474;
    transition: 0.3s;
}

.categories-navigation a:hover {
    background-color: #dedede;
}


.movies {
    margin-bottom: 60px;
}

.category {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.movies-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.card {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}

.card:hover .card-title {
    color: red;
}

.genre {
    font-size: 12px;
}

.year {
    font-size: 12px;
}

.card img {
    border-radius: 15px;
    width: 190px;
    height: 290px;
    min-height: 250px;
    object-fit: cover;
}

/* On mouse-over, add a deeper shadow */
.card:hover img {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/*FILM PAGE*/

.film-introduction {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
}

.film-introduction img {
    margin-left: 30px;
    width: 20%;
    border-radius: 20px;
    float: left;
}

.film-information {
    float: left;
    margin-left: 50px;
}

.film-title {
    font-size: 44px;
    font-family: 'Rubik', serif;
    font-weight: 500;
}

.info-line {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Rubik', serif;
    color: #494949;
    width: 120px;
}

.data-line {
    font-size: 20px;
    font-family: 'Rubik', serif;
    color: black;
    width: 300px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;

}

th, td {
    text-align: left;
    padding: 40px;
}

.description {
    font-family: 'Rubik', serif;
    font-weight: 500;
    font-size: 32px;
    padding: 15px 30px 0px 30px;
}

.film-description {
    font-size: 20px;
    padding: 15px 30px 10px 30px;
}

.review-area {
    margin: 0 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.reviews {
    margin: 0 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.review-textarea {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    height: 110px;
    border: 2px solid #747474;
    resize: none;
    max-width: 100% !important;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}

.submit-button {
    float: left;
    margin-top: 15px;
    background-color: #F73A4C;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 36px;
}

.submit-button:hover {
    opacity: 80%;
}


/*
 * Rating styles
 */

.stars-rating {
    float: left;
}

.rating {
    font-size: 45px;
}

.rating input {
    float: left;
    opacity: 0;
}

.rating a, .rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: top;
    line-height: 1;
}


/**
 * REVIEW
 */

.review {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: flex;
    width: 100%;
    flex-direction: row;
    transition: 0.3s;
}

.review:hover {
    background-color: #ececec;
}

.review .avatar {
    padding: 10px;
}

.review .information {
    margin: 5px 10px 0 5px;
    display: inline;
    flex-wrap: wrap;
    width: 100%;
}

.review .username {
    font-weight: 500;
    padding-top: 10px;
}

.review .content {

}

.review .rate {
    padding-top: 5px;
    padding-bottom: 5px;
}

.review .comment-footer {
    padding: 10px 0 10px 0;
    float: right;
}

.review .date {
    float: right;
    color: #747474;
}

.review .rate .star {
    color: orange;
}

.review .edit-button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
}

.review .delete-button {
    background-color: #747474;
    text-decoration: none;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;

}

.review .delete-button:hover {
    background-color: #fc4a5b;
}

.error-message {
    color: #F73A4C;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
 *  ADMIN PAGE
 */

.navigation {
    padding: 20px 0 20px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    background: none;
    border: none;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.search {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid black;
}

.single-button {
    background-color: #F73A4C;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.single-button:hover {
    background-color: #fc4a5b;
}

.navigation .last-item {
    float: right;
}

.search-input {
    height: 34px;
    width: 300px;
    max-width: 300px;
    border: none;
    /*padding: 10px 10px 10px 0;*/
}


#MyTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-bottom: 20px;
}


#MyTable th, #MyTable td {
    padding: 12px;
}

.column-left {
    text-align: left;
}

.film-link {
    text-decoration: none;
    color: black;
}

.film-link:hover {
    color: #747474;
}

.column {
    text-align: center;
}

.column .function {
    float: right;
    text-decoration: none;
    color: black;
}

#MyTable tr {
    border-bottom: 1px solid #ddd;
}

#MyTable tr.header {
    color: white;
    background-color: #F73A4C;
}

#MyTable tr.row:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 900px) {
    #MyTable {
        border: 0;
    }

    #MyTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    #MyTable tr {
        border-bottom: 3px solid black;
        display: block;
        margin-bottom: .625em;
    }

    #MyTable td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    #MyTable .status-input {
        width: 15%;
    }

    #MyTable td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
    }

    #MyTable td:last-child {
        border-bottom: 0;
    }
}

.block-link {
    color: #F73A4C;
    text-align: center;
    padding: 7px 15px 7px 15px;
}

.unblock-link {
    color: green;
    text-align: center;
    padding: 7px 15px 7px 15px;
}

.edit-link {
    color: green;
    text-align: center;
    text-decoration: none;
}

.section-tittle {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 10px 0 15px 0;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #F73A4C;
    color: white;
}

.dropbtn {
    background: none;
    padding: 7px 15px 7px 15px;
    color: black;
    border: none;
    cursor: pointer;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-functions {
    display: none;
    font-size: 14px;
    position: absolute;
    min-width: 130px;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-functions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-functions a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.status-input {
    text-align: center;
    background: none;
    width: 70%;
    border: 0;
    outline: none;
    -webkit-transition: all .2s;
}


/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating-input {
    position: absolute !important;
    left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
    display: none
}

/* set icon padding and size */
.rating-label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating-input:checked ~ .rating-label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating-label .rating__icon--star {
    color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating-input:hover ~ .rating-label .rating__icon--star {
    color: #ddd;
}


/**
* ALERT MESSAGE
*/

/* The alert message box */

.alert-wrapper {
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    position: fixed;
    alignment: right;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    width: 30%;
    float: right;
    top: 50%;
    position: fixed;
}

/* The close button */
.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-button:hover {
    color: black;
}

/**
    ADD FILM PAGE
 */

.film-form {
    background: #fff;
    font-family: 'Rubik', sans-serif;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.film-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 400;
    font-size: 24px;
}

.film-form .input-field .text-input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.film-form .content {
    padding: 15px 35px;
}

.film-form .input-field {
    padding: 12px 5px;
}

.film-form select {
    font-size: 16px;
    padding: 5px 1px;
    border: 0;
    background: none;
    border-bottom: 1px solid #747474;
}

.film-form select option {
    border: 0;
    border-bottom: 1px solid #747474;
}

.selects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selects-list li span {
    padding-right: 15px;
}

.film-form .year-input {
    font-size: 16px;
    padding: 5px 1px;
    width: 65%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    padding: 5px 1px;
    font-weight: 400;
    background: none;
    border-bottom: 1px solid #747474;
    display: inline-block;
    max-width: 60%;
}

.input-file + label {
    cursor: pointer;
}

.film-form .input-field .text-input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::-moz-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input:-ms-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::-ms-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input:focus {
    border-color: #222;
}

.film-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.film-form .action {
    padding-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.film-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #F73A4C;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.film-form .action button:hover {
    background: #fc4a5b;
}

.upload-image-field {
    padding: 12px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.upload-image-button {
    padding-left: 15px;
}

.upload-image-button button {
    text-align: center;
    cursor: pointer;
    background-color: #e8e9ec;
    color: #69696e;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    border: none;

}

.upload-image-button button:hover {
    background: #d8d8d8;
}

.film-form .error-message {
    padding-top: 15px;
    color: #F73A4C;
    font-size: 18px;
}


#message {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #F73A4C;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#message.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/*
    DELETE MODAL
 */
.modal-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal-button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.modal .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.modal .cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.modal .deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.modal .container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(71, 78, 93, 0.35);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: none;
    width: 30%; /* Could be more or less, depending on screen size */
}

.modal .content {
    padding: 15px 35px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.modal-content .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.modal-content .action button {
    width: 100%;
    border: none;
    padding: 12px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.modal-content .action button:hover {
    background: #d8d8d8;
}

.modal-content .action button:nth-child(2) {
    background: #F73A4C;
    color: #fff;
}

.modal-content .action button:nth-child(2):hover {
    opacity: 80%;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .modal-content .action button {
        width: 100%;
    }
}


/* REGISTER FORM */

.register-form {
    font-family: Rubik, sans-serif;
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.register-form ul {
    padding-top: 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.register-form .back {
    font-size: 32px;
    padding: 10px 18px 10px 10px;
    width: 20%;
    text-align: center;
    color: #747474;
    border-top-left-radius: 4px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.register-form .back:hover {
    background: #d8d8d8;
}

.register-form h1 {
    font-size: 32px;
    padding: 35px 35px 0 35px;
    font-weight: 400;
}


.register-form .content {
    padding: 20px 35px 35px;
    text-align: center;
}

.register-form .input-field {
    padding: 12px 5px;
}

.register-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.register-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.register-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}

.register-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}

.register-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}

.register-form .input-field input::placeholder {
    text-transform: uppercase;
}

.register-form .input-field input:focus {
    border-color: #222;
}

.register-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.register-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.register-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.register-form .action button:hover {
    background: #d8d8d8;
}

.register-form .action button:nth-child(1) {
    background: #F73A4C;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.register-form .action button:nth-child(1):hover {
    opacity: 80%;
}

.error-message {
    color: #F73A4C;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

