/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #ededed9e;
    height: 100%;
    line-height: 1.5;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.page {
    font-family: 'Rubik', sans-serif;
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    min-height: 100vh;
}

.header {
    background-color: #F73A4C;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    float: left;
}

.header-wrapper a {
    float: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    border-radius: 15px;
    padding: 12px 12px 12px 12px;
}

.header-list a:hover {
    background-color: white;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 24px;
    border: 15px;
    outline: none;
    color: white;
    padding: 12px 12px 16px 12px;
    background-color: inherit;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
    border-radius: 15px;
}


.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* NAVIGATION BAR */

.topnav {
    background-color: #F73A4C;
    overflow: hidden;
}

.topnav a {
    font-family: 'Rubik', sans-serif;

    font-size: 24px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    font-size: 18px;
    float: right;
}


/* SEARCH BAR*/

/*.search-wrap {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    margin: 10px 0 15px 0;*/
/*    max-width: 100%;*/
/*    font-size: 20px;*/
/*}*/

/*.search-input {*/
/*    height: 34px;*/
/*    width: 300px;*/
/*    border-radius: 10px;*/
/*    border: 3px solid #F73A4C;*/
/*    padding: 10px;*/
/*}*/

/*.search-button {*/
/*    float: right;*/
/*    border: none;*/
/*    height: 34px;*/
/*    width: 34px;*/
/*    background-color: #F73A4C;*/
/*    color: white;*/
/*    margin-left: 15px;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*}*/

/*.search-button:hover {*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/


/* MOVIES */

.movies {
    margin-bottom: 60px;
}

.category {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.movies-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.card {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}

.card:hover .card-title {
    color: red;
}

.genre {
    font-size: 12px;
}

.year {
    font-size: 12px;
}

.card img {
    border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover img {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


/*FILM PAGE*/

.film-introduction {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
}

.film-introduction img {
    margin-left: 30px;
    width: 20%;
    border-radius: 20px;
    float: left;
}

.film-information {
    float: left;
    margin-left: 50px;
}

.film-title {
    font-size: 44px;
    font-family: 'Rubik', serif;
    font-weight: 500;
}

.info-line {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Rubik', serif;
    color: #494949;
    width: 120px;
}

.data-line {
    font-size: 20px;
    font-family: 'Rubik', serif;
    color: black;
    width: 300px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;

}

th, td {
    text-align: left;
    padding: 40px;
}

.description {
    font-family: 'Rubik', serif;
    font-weight: 500;
    font-size: 32px;
    padding: 15px 30px 0px 30px;
}

.film-description {
    font-size: 20px;
    padding: 15px 30px 0px 30px;
}

.review-area {
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
}

.reviews {
    margin: 0 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.review-textarea {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    height: 110px;
    border: 2px solid black;
    border-radius: 15px;
    resize: none;
    max-width: 100% !important;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

.submit-button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    margin-top: 15px;
    background-color: #F73A4C;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 36px;
}

.submit-button:hover {
    opacity: 80%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}


/*
 * Rating styles
 */

.stars-rating {
    float: left;
}

.rating {
    font-size: 45px;
}

.rating input {
    float: left;
    opacity: 0;
}

.rating a, .rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: top;
    line-height: 1;
}


/**
 * REVIEW
 */

.review {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-header {
    font-size: 20px;
    margin-right: 15px;
}

.review:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.review::after {
    content: "";
    clear: both;
    display: table;
}

.review img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.review p {
    color: #494949;
}

@media (max-width: 500px) {
    .review {
        text-align: center;
    }

    .review img {
        margin: auto;
        float: none;
        display: block;
    }
}

.no-reviews-message {
}

.username {
    text-transform: uppercase;
}

.rate {
    display: block;
    font-size: 14px;
    margin-right: 15px;
}

/**
 *  ADMIN PAGE
 */

.navigation {
    padding: 20px 0 20px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .search-button {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.navigation .search {
    border-bottom: 3px solid black;
}

.single-button {
    background-color: #F73A4C;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.single-button:hover {
    background-color: #fc4a5b;
}

.navigation .last-item {
    float: right;
}

.navigation .search-input {
    height: 34px;
    width: 300px;
    border: none;
    padding: 10px 10px 10px 0;
}


.my-input {
    width: 100%;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 10px 12px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top: 15px;
    margin-bottom: 30px;
}

#MyTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin-bottom: 20px;
}


#MyTable th, #MyTable td {
    padding: 12px; /* Add padding */
}

.column-left {
    text-align: left; /* Left-align text */
}

.film-link {
    text-decoration: none;
    color: black;
}

.film-link:hover {
    color: #747474;
}

.column {
    text-align: center; /* Left-align text */
}

#MyTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
    border-radius: 25px;

}

#MyTable tr.header {
    color: white;
    background-color: #F73A4C;
}

#MyTable tr.row:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.block-link {
    color: #F73A4C;
    text-align: center;
    text-decoration: none;
}

.unblock-link {
    color: green;
    text-align: center;
    text-decoration: none;
}

.edit-link {
    color: green;
    text-align: center;
    text-decoration: none;
}

.section-tittle {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 10px 0 15px 0;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #F73A4C;
    color: white;
}

/**
  *  STARS RATE
 */

/*
 *  Pure CSS star rating that works without reversing order
 *  of inputs
 *  -------------------------------------------------------
 *  NOTE: For the styling to work, there needs to be a radio
 *        input selected by default. There also needs to be a
 *        radio input before the first star, regardless of
 *        whether you offer a 'no rating' or 0 stars option
 *
 *  This codepen uses FontAwesome icons
 */


/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating-input {
    position: absolute !important;
    left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
    display: none
}

/* set icon padding and size */
.rating-label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating-input:checked ~ .rating-label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating-label .rating__icon--star {
    color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating-input:hover ~ .rating-label .rating__icon--star {
    color: #ddd;
}


/**
* ALERT MESSAGE
*/

/* The alert message box */

.alert-wrapper {
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    position: fixed;
    alignment: right;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    width: 30%;
    float: right;
    top: 50%;
    position: fixed;
}

/* The close button */
.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-button:hover {
    color: black;
}

/**
    ADD FILM PAGE
 */

.film-form {
    background: #fff;
    font-family: 'Rubik', sans-serif;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.film-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 400;
    font-size: 24px;
}

.film-form .input-field .text-input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.film-form .content {
    padding: 15px 35px 35px;
}

.film-form .input-field {
    padding: 12px 5px;
}

.film-form select {
    font-size: 16px;
    padding: 5px 1px;
    border: 0;
    background: none;
    border-bottom: 1px solid #747474;
}

.film-form select option {
    border: 0;
    border-bottom: 1px solid #747474;
}

.selects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selects-list li span {
    padding-right: 15px;
}

.film-form .year-input {
    font-size: 16px;
    padding: 5px 1px;
    width: 65%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    padding: 5px 1px;
    font-weight: 400;
    background: none;
    border-bottom: 1px solid #747474;
    display: inline-block;
}

.input-file + label {
    cursor: pointer;
}

.film-form .input-field .text-input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::-moz-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input:-ms-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::-ms-input-placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input::placeholder {
    text-transform: uppercase;
}

.film-form .input-field .text-input:focus {
    border-color: #222;
}

.film-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.film-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.film-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #F73A4C;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.film-form .action button:hover {
    background: #fc4a5b;
}
